.content-box {
    background-color: $color-accent-bg;
    border-radius: $border-radius * 1.25;
    box-shadow: $shadow-medium;
    padding: $component-padding;
    gap: 0.5rem;
    width: fit-content;

    &--flex-center {
        @include flexbox(column)
    }
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 1.5rem;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    width: 100%;
}

.golrizontal-scroll-box {
    @include flexbox(row, flex-start, flex-start);
    display: flex;
    max-height: 500px;
    gap: 1.5rem;
    padding: 2rem;
    overflow-x: auto;
    width: 100%;
}